body {
  font-family: "Blinker", sans-serif;
  color: #BAB7B7 ;
}

.datos {
  padding: 0%;
  margin: 0%;
}

p {
  font-size: 14px;
  padding: 0;
}

.columna{
    background-color: #bab7b725; 
    box-shadow: 3px 3px 6px 4px #d3d3d3d1;
    padding: 0;
     margin: 15px auto;
     padding: 10px 1px;
     border-radius: 20px; 
     height: 184px; 
     width: 330px;

}

.navbar {
    background-color: #6C5A94;
}
.nav-g{
    background-color: #6C5A94;
}
.navbar{
    background-color: #6C5A94;
}
.personas{
    padding: 40px;
}

.descripcion {
  background-color: #bab7b725;
  box-shadow: 3px 3px 6px 4px #d3d3d3d1;
  margin: 15px auto;
  padding: 10px 1px;
  border-radius: 10px;

  width: 330px;
}
.descripcion-texto{
    margin-left: 10px;
}
h3,h4,h1,h2,h5,h6{
    color: #000;
}
.contactos-persona-1{
    background-color: #bab7b725;
    box-shadow: 3px 3px 6px 4px #d3d3d3d1;
    margin: 15px auto;
    padding: 10px 1px;
    border-radius: 10px;

}

.img-redes{
    padding: 0%;
    margin: 0% auto;
    text-align: center;
}
.contactos-persona-2{
    background-color: #bab7b725;
    box-shadow: 3px 3px 15px 8px #d3d3d3d1;
    margin: 15px auto;
    padding: 10px 1px;
    border-radius: 10px;

}






