body {
  font-family: "Blinker", sans-serif;
  color: #BAB7B7 ;
}

.datos {
  padding: 0%;
  margin: 0%;
}

p {
  font-size: 14px;
  padding: 0;
}

.columna{
    background-color: #bab7b725; 
    padding: 0;
     margin: 15px auto;
     padding: 10px 1px;
     border-radius: 20px; 
     height: 184px; 
     width: 330px;

}


.descripcion {
  background-color: #bab7b725;

  margin: 15px auto;
  padding: 10px 1px;
  border-radius: 10px;

  width: 330px;
}
.descripcion-texto{
    margin-left: 4px;
}
h3,h4,h1,h2,h5,h6{
    color: #000;
}
.contactos-persona-1{
    background-color: #bab7b725;
    margin: 15px auto;
    padding: 10px 1px;
    border-radius: 10px;

}

.img-redes{
    padding: 0%;
    margin: 0% auto;
    text-align: center;
}






